body {
    margin: 0;
    padding: 0;
}

.box {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 50vh;
    width: 60%;
    position: relative;
    margin: 0 auto;
    padding: 0;
}
.level {
    width: 200px;
    margin: 45vh 10px;
    align-self: center;
}
.box h1 {
    align-self: flex-start;
    position: absolute;
    margin: 0 auto;
    margin-top: 20vh;
}

.box div {
    height: 100px;
    width: 100px;
    background: rebeccapurple;
}

.ex {
    width: 100px;
    margin: 0 10px;
}
.tomain {
    align-self: start;
    margin: 30vh auto;
}